.header{
    background-color: #E08F43;
    display: flex;
    padding-left: 20px;
    height: 70px;
    margin: -10px;
    justify-content: center;
    text-align: center;
}

.header-title{
    display: flex;
    margin-right: 760px;
    justify-content: center;
    text-align: center;
}

.header-title:hover{
    cursor: pointer;
}

.header-btn{
    height: 30px;
    width: 120px;
    margin-top: 25px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    justify-content: center;
    text-align: center;
}

.header-btn-container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.header-btn:hover{
    cursor: pointer;
}