.trending-image-container{
    margin-top: 20px;
    margin-left: -10px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #BDE9F6;
    height: 400px;
    width: 100%;
}

.trending-footer-image{
    display: flex;
    margin: 20px;
    margin-top: 75px;
    justify-content: center;
    height: 200px;
    width: 250px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}

.trending-title{
    display: flex;
    justify-content: left;
    text-align: center;
    margin-bottom: -15px;
}